/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* Para animaciones suaves */
  scroll-padding-top: 65px; /* Ajusta esto al alto de tu barra sticky */
}

body {
  font-family: 'Fredoka One', cursive;
  color: #ddd;
  background-color: #101010;
  height: 100%;
  overflow: hidden;
}

section {
margin-bottom: 4rem;
}
/* .stats-page{
  display: none;
} */

#welcome {
  font-weight: bold;
  font-size: 7rem;
  text-align: center;
  margin: auto;
  padding-top: 35vh;
  animation: pulse2 1.8s infinite;
  color: #ff206e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0); /* Semitransparente */
  z-index: 100000000; /* Asegura que esté encima */
}

#game {
  position: relative;
  /* display: none; */
}

body { -webkit-touch-callout: none !important; }
a { -webkit-user-select: none !important; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #0a0a0a;
  color: #ddd;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.logo {
  font-size: 2rem;
  color: #ff206e;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 3px;
}

.nav a {
  color: #ddd;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1rem;
  transition: color 0.3s;
}

.score{
  color: #ddd;
}
.score {
  position: absolute;
  font-size: 1.55rem;
  max-width: 250px;
  top: 2px;
  left: 8px;
  padding: 4px 8px;
  color: white;
  text-shadow: 0px 0px 1px black,
               1px 1px 1px black,
               -1px -1px 1px black,
               1px -1px 1px black,
               -1px 1px 1px black;
  border-radius: 4px;
  z-index: 10;
}
.steps{
  color: #ddd;
}
.steps {
  position: absolute;
  font-size: 1.55rem;
  max-width: 110px;
  top: 2px; /* Mantiene el elemento cerca de la parte superior */
  right: 8px; /* Centra el elemento horizontalmente */
  padding: 4px 8px;
  color: white;
  text-shadow: 0px 0px 1px black,
               1px 1px 1px black,
               -1px -1px 1px black,
               1px -1px 1px black,
               -1px 1px 1px black;
  border-radius: 4px;
  z-index: 10;
}

.nav a:hover {
  color: #ff206e;
}

.welcome-section {
  text-align: center;
  padding: 2rem 2rem;
  background: radial-gradient(circle, #ff206e, #001f3f);
  color: #fff;
  animation: pulse 6s infinite;
}

@keyframes pulse {
  0% { background-color: #ff206e; }
  50% { background-color: #ff007f; }
  100% { background-color: #ff206e; }
}

.welcome-section h2 {
  font-size: 3rem;
  text-shadow: 2px 2px #000;
}

.welcome-section p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  color: #111;
  background-color: #ff4d4d;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0px 5px 15px rgba(255, 33, 106, 0.6);
}

.button:hover {
  background-color: #ff007f;
  transform: scale(1.1);
}

.gallery {
  padding: .1rem 10%;
  text-align: center;
  background-color: #101010;
  min-height: calc(100vh - 130px);
}

.gallery h2 {
  font-size: 2.5rem;
  color: #ff206e;
  text-shadow: 2px 2px #000;
  margin-bottom: 1rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  justify-items: center;
  width: 100%;
}

.gallery-item {
  width: 100%;
  height:  calc(100vh - 120px);;
  background-color: #222;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  /* transition: border 0.3s ease, filter 0.3s ease, transform 0.3s, box-shadow 0.3s; */
  border: 3px solid #ff206e;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}


.gallery-item.correct:hover {
  filter: brightness(0.9);
}

.gallery-item.correct:hover .showprev {
  opacity: 1;
}

.showprev {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el texto */
  color: #fff;
  font-size: 18px;
  opacity: 0; /* Oculta el texto inicialmente */
  transition: opacity 0.3s ease; /* Transición para el texto */
}

.gallery-item img {
  max-width: 100%; 
  max-height: 100%; 
  padding: 5px;
  width: auto; 
  height: auto; 
  object-fit: contain; 
  display: block; 
  z-index: 0;
}

#imageex, #imageex1 {
  max-width: 100%; 
  max-height: 100%; 
  width: auto; 
  height: auto; 
  object-fit: contain; 
  display: block; 
  z-index: 0;
  border-radius: 0;
}
.imagecanva {
  border: none;
  gap: 0;
  width: fit-content;
}

.imagecanvaitem{
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  width: fit-content;
  border: 4px solid rgb(255, 104, 167);
}

.imagecanvaitem img {
  padding: 0;
}

.actions-container{
  width: 100%;
  height: 400px;
  position: relative;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.go {
  width: 50%;
  height: 70px;
  background-color: #222;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  transition: transform .3s ease, box-shadow 1s ease;
  border: 2px solid #ff206e;
  margin: 12px auto;
}

.go:hover {
  transform: rotate(0deg) scale(1.06);
  /* box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.6); */
}
/* .gallery-item:hover {
  transform: rotate(1deg) scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.6);
} */
.stats-frame:hover {
  transform: none;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.6);
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #0a0a0a;
  color: #ddd;
  font-size: 0.9rem;
}
.language-selector {
  position: relative;
  margin-left: 1rem;
}

.next {
  display: inline-block;
  padding: 18px 55px;
  width: 49%;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(45deg, #ff69b4, #8a2be2);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 1;
  margin-top: 15px;
  transition: transform 0.2s, box-shadow 0.3s;
  z-index: 100;
  transform: translateX(-50%); /* Ajustar para centrar correctamente */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente (opcional) */
  text-align: center; /* Centrar el texto */
  cursor: pointer;
  box-shadow: 0px 0px 30px 16px rgba(0, 0, 0, 0.85);
  animation: pulse 1s infinite;
}

.next:hover {
  /* transform: rotate(0deg) scale(1.10); */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.8);
}
.next:focus {
  outline: none;
}

@keyframes pulse {
  0% {
      transform: scale(1); /* Tamaño original */
  }
  50% {
      transform: scale(1.07); /* Aumentar tamaño al 110% */
  }
  100% {
      transform: scale(1); /* Volver al tamaño original */
  }
}
@keyframes pulse2 {
  0% {
      transform: scale(1); /* Tamaño original */
  }
  50% {
      transform: scale(1.1); /* Aumentar tamaño al 110% */
  }
  100% {
      transform: scale(1); /* Volver al tamaño original */
  }
}

.ia-tag {
  position: absolute;
  max-width: 100px;
  bottom: 8px; /* Posiciona el elemento cerca de la parte inferior */
  right: 8px; /* Posiciona el elemento en el borde derecho */
  padding: 10px 10px;
  font-size: 1.05rem;
  color: white;
  border-radius: 4px;
  z-index: 10;
  background: linear-gradient(45deg, #ff33ee, #9933ff, #ff20b5,#9933ff,#ff20b5,#ff33ee);
  /* background: linear-gradient(45deg, #ff33ee, #9933ff, #ff20b5, #ff33ee,#ff33ee, #9933ff, #ff20b5,#ff33ee,#ff33ee, #9933ff, #ff20b5); */
  /* background: linear-gradient(45deg, #ff99cc, #9933ff, #ff206e, #ff99cc,#ff99cc, #9933ff, #ff206e,#ff99cc,#ff99cc, #9933ff, #ff206e); */
  background-size: 310% 310%;
  animation: gradientAnimation 1.3s linear infinite;
}

/* Animación para el fondo de gradiente */
@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
  
}

#end {
  font-size: 2rem;
}
#count{
  color: #ff206e;
  font-size: 3rem;
}

.stat{
  color: #ff206e;
  font-size: 1.8rem;
  margin-left: .8rem;
}

.label-stat{
  margin-bottom: 30px;
}

.suceess-image {
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

#language-selector select {
  padding: 0.5rem 1.3rem 0.5rem .7rem;
  font-size: 1rem;
  color: #fff;
  font-family: 'Fredoka One', cursive;
  background-color: #0a0a0a;
  border: 2px solid #ff206e;
  border-radius: 25px;
  outline: none;
  appearance: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#language-selector select {
  margin-right: 5px;
}

#language-selector select:hover {
  background-color: #ff206e;
  color: #0a0a0a;
}

#language-selector::after {
  content: '▼';
  position: absolute;
  right: 1.5rem;
  top: 50%;
  font-size: .9rem;
  transform: translateY(-50%);
  pointer-events: none;
  color: #ff206e;
}

.gallery-item {
  transition: opacity 0.25s ease-in-out; /* Ajusta la duración como desees */
  opacity: 1;
}

.gallery-item.fade-out {
  opacity: 0;
}

/* .s:active {
  animation: shake .3s;
} */

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 20% {
    transform: translateX(-10px);
  }
  20%, 40% {
    transform: translateX(10px);
  }
  40%, 60% {
    transform: translateX(-15px);
  }
  60%, 80% {
    transform: translateX(16px);
  }
  80%, 92% {
    transform: translateX(-8px);
  }
}

.next{
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(45deg, #ff69b4, #8a2be2);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 1;
  margin-top: 4px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente (opcional) */
  text-align: center; /* Centrar el texto */
  cursor: pointer;
  box-shadow: 0px 0px 30px 16px rgba(0, 0, 0, 0.85);
  animation: pulse 1s infinite;
  z-index: 100;
}

.acept, .restart, .exit, .purchase, #start{
  padding: 18px 55px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(45deg, #ff69b4, #8a2be2);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 1;
  background-color: rgba(255, 255, 255, 0.8); 
  text-align: center; /* Centrar el texto */
  cursor: pointer;
  animation: pulse 1s infinite;
  margin: auto;
  margin-top: 25px;
  width: 300px;
}

/* .acept:hover, .restart:hover, .exit:hover, .purchase:hover {
  transform: scale(1.08);
} */

.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
}

.modal-content {
  background-color: #ff008080;;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  position: relative;
  text-align: center;
}

.close {
  color: #aaa;
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.close:hover {
  color: white;
}


/* Contenedor del interruptor */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align: middle; /* Alineación vertical */
  margin-right: 2px; /* Espacio entre el interruptor y la etiqueta */
}

/* Ocultar el checkbox predeterminado */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* El slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff206e;
  transition: 0.4s;
  border-radius: 34px;
}

/* Círculo dentro del slider */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Cambiar el fondo cuando está activado */
input:checked + .slider {
  background-color: #ccc;
}

/* Mover el slider a la derecha cuando está activado */
input:checked + .slider:before {
  transform: translateX(26px);
}

/* Estilo de la etiqueta de texto */
.label-text {
  font-size: 16px;
  color: white;
  vertical-align: middle; /* Alineación vertical */
}


/* Apilar elementos en pantallas de tamaño tablet o móvil */
@media (max-width: 992px) {
  .gallery-grid {
      grid-template-columns: 1fr; /* Una columna para pantallas pequeñas */
      gap: .8rem;
  }
  .actions-container {
    display: grid;
    height: 180px;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    grid-template-rows: repeat(2, 1fr);    /* Dos filas */
  }
  .go{
    width: 80%;
    margin: 5px auto;
  }
  .gallery{
    padding-top: 0px;
    padding: 0 3px;
    min-height: auto
  }
  .stats-frame{
    padding: 3rem;
  }
  #purchase1, #start{
    width: auto;
  }
  .gallery-item {
    height:  calc(100vh - 390px);;

  }
  .gallery h2 {
    font-size: 1.5em;
    margin: .5rem;
  }

  .logo {
    font-size: 1.3rem;
  }
  .switch {
    width: 40px;
    height: 24px;
  }
  .slider:before {
    height: 16px;
    width: 16px;
  }
  input:checked + .slider:before {
    transform: translateX(16px);
  }
  .label-text {
    font-size: 12px;
  }
  #language-selector select {
    font-size: .7rem;
    padding: 0.2rem 1.3rem 0.3rem .5rem;
  }
  #language-selector::after {
    font-size: .7rem;
  }

  .label-stat{
    margin-top: 1rem;
    margin-bottom: 14px;
    display: grid;
  }
  
  .analitics-frame .gallery-item{
    height: 100%;
  }
  .acept{
    width: 42%;
    padding: 12px;
  }
  .next {
    position: absolute;
    top: -24%;
    left: 50%;
    transform: translate(-50%);
    width: 146px;
    height: 40px;
    margin-left: -73px;
    padding: 9px;
    box-shadow: 0px 0px 30px 16px rgba(25, 25, 25, 0.90);
  }
  .ia-tag {
    max-width: 85px;
    padding: 5px 8px;
    font-size: .8rem;
  }
  #welcome {
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
    margin: auto;
    animation: pulse2 1.8s infinite;
    color: #ff206e;
  }
  .suceess-image {
    width: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Asegura que el logo y el botón de menú estén en los extremos */
  padding: 10px;
}

.nav {
  display: flex; /* Usamos flexbox para el menú en pantallas grandes */
  gap: 1rem; /* Espaciado entre los enlaces */
}

.menu-toggle {
  display: none; /* Ocultar el botón de menú en pantallas grandes */
  font-size: 28px; /* Tamaño del botón de menú */
  background: none; /* Sin fondo */
  color: #ff206e; /* Color del texto */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.analitics-frame{
    grid-template-columns: repeat(1, 1fr);
}

.purchase {
  background: linear-gradient(45deg, #ff33ee, #9933ff, #ff20b5,#9933ff,#ff20b5,#ff33ee, #9933ff, #ff20b5,#9933ff,#ff20b5);
  background-size: 350% 350%;
  animation: gradientAnimation 1.1s linear infinite, pulse 1s infinite;;
}

#loading-circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 5px solid #ddd;
  border-top: 5px solid #76c7c0;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

#play-button {
  display: none;
  padding: 10px 20px;
  font-size: 16px;
  background: #76c7c0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#play-button:hover {
  background: #5daaa1;
}

#status {
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
}

.first {
  box-shadow: 0px 0px 25px 5px rgb(7, 255, 3);
  animation: pulse 1.1s infinite;
}


/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .nav {
      display: none; /* Oculta la navegación por defecto */
      flex-direction: column; /* Coloca los enlaces en una columna */
      position: absolute; /* Posiciona el menú en relación al contenedor */
      top: 50px; /* Ajusta según el alto del header */
      left: 0;
      right: 0;
      width: 45%;
      border-radius: 0 0 80px 0;
      background-color: #000;
      padding: 10px 0; /* Espaciado interno */
      z-index: 22000;
  }

  .nav a {
      padding: 10px 20px; /* Espaciado interno en los enlaces */
  }

  .menu-toggle {
      display: block; /* Muestra el botón de menú en pantallas pequeñas */
  }

  /* Clase para mostrar la navegación */
  .nav.active {
      display: flex; /* Muestra el menú cuando se activa */
  }
  .score, .steps{
    font-size: 1.2rem;
  }
}